* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

:root {
  --white: #fff;
  --silver: #f5f5f7;
  /* --silver: #123456; */
  --font-clr: #2d2d2d;
}

/* @font-face {
    font-family: "SF Pro";
    src: url("fonts/SF-Pro.woff2") format("woff2");
  } */

body {
  font-family: "SF Pro", sans-serif;
  background-color: var(--white);
  min-height: 100vh;
}

header {
  /* 1. Make it stay at the top */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  /* 2. Semi-transparent background (White with 20% opacity) */
  background: rgba(255, 255, 255, 0.625);

  /* 3. The "Glass" blur effect */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */

  /* 4. Optional finishing touches */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* Subtle top/bottom edge */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */



  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 44px;
}

header img {
  width: 30px;
  margin: 0 25px;
}

header ul {
  margin: 5px;
}

header ul a {
  padding: 0 8px;
}

header i {
  margin: 0 25px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: var(--font-clr);
}

a:hover {
  color: black;
}


.main-div {
  width: 100%;
  min-height: 100vh;
  background-color: var(--silver);
  border-top: 1px solid #dddcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 13px 0;
}

.main-div img {
  width: 400px;
}

.main-div h1 {
  font-size: 65px;
}

.main-div button {
  max-width: 104px;
  max-height: 36px;
  color: var(--white);
  background-color: #0076df;
  border: none;
  border-radius: 30px;
  padding: 8px;
}

.main-div button:hover {
  max-width: 104px;
  max-height: 36px;
  color: #0076df;
  background-color: var(--white);
  border: none;
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Creates 2 equal columns */
  gap: 13px;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px;  */
}

.sec {
  transition: filter 0.7s ease;
}

.sec:hover {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  cursor: pointer;
  transform: scale(1.01);
}

.services .sec {
  background-color: var(--silver);
  width: 100%;
  height: 580px;
  /* margin: 13px; */
  border-radius: 1px;
  position: relative;
}

.services button {
  max-width: 104px;
  max-height: 36px;
  color: var(--white);
  background-color: #0076df;
  border: none;
  border-radius: 30px;
  padding: 8px;
  position: absolute;
  top: 30%;
  left: 42%;
}

.services button:hover {
  max-width: 104px;
  max-height: 36px;
  color: #0076df;
  background-color: var(--white);
  border: none;
  border-radius: 30px;
  padding: 8px;
  position: absolute;
  top: 30%;
  left: 42%;
  cursor: pointer;
}

.services .OAT {
  background-color: var(--silver);
  border-radius: 30px;
  border: none;
  max-width: 280px;
  text-align: center;
  position: absolute;
  top: 17%;
  left: 28%;
  padding: 10px;
}

.services .TAF {
  background-color: var(--silver);
  border-radius: 30px;
  border: none;
  max-width: 250px;
  text-align: center;
  position: absolute;
  top: 17%;
  left: 32%;
  padding: 10px;
}

#serv1 {
  position: relative;
  background-image: url(../images/IMG_6849.JPG);
  background-size: cover;
  background-position: center;
}

#serv2 {
  position: relative;
  background-image: url(../images/IMG_6856.JPG);
  background-size: cover;
  background-position: bottom;
}

#serv3 {
  position: relative;
  background-image: url(../images/IMG_6857.JPG);
  background-size: cover;
  background-position: center;
}

#serv4 {
  position: relative;
  background-image: url(../images/IMG_6862.JPG);
  background-size: cover;
  background-position: center;
}

.who-r-we {
  background-color: var(--silver);
  text-align: center;
  padding: 50px 180px;
}

.who-r-we button {
  max-width: 104px;
  max-height: 36px;
  color: var(--white);
  background-color: #0076df;
  border: none;
  border-radius: 30px;
  padding: 8px;
  margin: 13px;
}

.who-r-we button:hover {
  max-width: 104px;
  max-height: 36px;
  color: #0076df;
  background-color: var(--white);
  border: none;
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
  margin: 13px;

}












footer {
  background-color: var(--silver);
  text-align: left;
  padding: 50px 180px;
}

hr {
  color: #f4f4f4;
  margin: 25px 0;
}

h4 {
  font-weight: 700;
}

.columns {
  display: flex;
  /* flex-direction: row; */
  gap: 350px;
}

footer .col1 {
  display: flex;
  align-items: left;
  flex-direction: column;
  line-height: 25px;
}

footer .col2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 25px;
}

footer .col3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 25px;
}

/* .copyright {
  display: flex;
  justify-content: space-between;
} */