* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

:root {
  --white: #fff;
  --silver: #f5f5f7;
  /* --silver: #123456; */
  --font-clr: #2d2d2d;
}

/* @font-face {
      font-family: "SF Pro";
      src: url("fonts/SF-Pro.woff2") format("woff2");
    } */

body {
  font-family: "SF Pro", sans-serif;
  background-color: var(--white);
  min-height: 100vh;
}

header {
  /* 1. Make it stay at the top */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  /* 2. Semi-transparent background (White with 20% opacity) */
  background: rgba(255, 255, 255, 0.625);

  /* 3. The "Glass" blur effect */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */

  /* 4. Optional finishing touches */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* Subtle top/bottom edge */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */



  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 44px;
}

header img {
  width: 30px;
  margin: 0 25px;
}

header ul {
  margin: 5px;
}

header ul a {
  padding: 0 8px;
}

header i {
  margin: 0 25px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: var(--font-clr);
}

a:hover {
  color: black;
}

























footer {
  background-color: var(--silver);
  text-align: left;
  padding: 50px 180px;
}

hr {
  color: #f4f4f4;
  margin: 25px 0;
}

h4 {
  font-weight: 700;
}

.columns {
  display: flex;
  /* flex-direction: row; */
  gap: 350px;
}

footer .col1 {
  display: flex;
  align-items: left;
  flex-direction: column;
  line-height: 25px;
  
}

footer .col2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 25px;

}

footer .col3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 25px;

}